{% extends "layout.html" %}
{% block jscontent %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    @media only screen and (max-width: 767px){
        .media{
            display: block; text-align: center;
        }
        .media .account-img{
            margin: 0 auto;
            display: block;
        }
    }
</style>
{% endblock%}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
                <p class="text-secondary">{{ current_user.phone_no }}</p>
            </div>
        </div>

        <div class="content-section mb-4">
            <h4 class="border-bottom mb-4">Order Details</h4>
            {% if ordered_item_dict %}
                <p><b>Total Price: </b>{{ price }}</p>
                {% for key, val in ordered_item_dict.items() %}
                    <p><b>{{ food_items[(key|int)-1].title }} :</b> {{ val }} </p>
                {% endfor %}
                <p class="text-secondary">Want to modify your Order? <a href="{{ url_for('home') }}">Click Here</a> </p>
                <a href="{{ url_for('payment_options') }}" class="btn btn-outline-info"> Go for Payment</a> 
            {% else %}
                <p class="text-secondary">Currently your Order list is Empty!!! </p>
                <p class="text-secondary">Want to Order something? <a href="{{ url_for('home') }}">Click Here</a> </p>
            {% endif %}
        </div>

        <div class="content-section mb-4">
            <h4 class="border-bottom mb-4">All Orders</h4>
            {% if all_orders %}
                <table>
                    <tr>
                        <th>Order Id</th>
                        <th>Order Time</th>
                        <th>Ordered Items</th>
                        <th>Price</th>
                        <th>Payment Method</th>
                        <th>Payment Status</th>
                    </tr>
                    {% for i in all_orders %}
                    <tr>
                        <td>
                            <a href= {{ url_for("order_details", order_id = i.id) }}>
                            {{ i.id }}
                            </a>
                        </td>
                        <td>{{ i.date_ordered }}</td>
                        <td>{{ i.order_details }}</td>
                        <td><span> ₹{{ i.price }}</span></td>
                        <td>
                            {% if i.payment_method == 0 %}
                                Not Available
                            {% elif i.payment_method == 1 %}
                                Payment Gateway
                            {% elif i.payment_method == 2 %}
                                Direct Payment (UPI)
                            {% elif i.payment_method == 3 %}
                                Cash On Delivery
                            {% endif %}
                        </td>
                        <td>
                            {% if i.payment_status == 0 %}
                                Pending
                            {% elif i.payment_status == 1 %}
                                Successful
                            {% elif i.payment_status == 2 %}
                                Failed
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table> 
            {% else %}
                <p class="text-secondary">You haven't ordered anything yet!!! </p>
                <p class="text-secondary">Want to Order something? <a href="{{ url_for('home') }}">Click Here</a> </p>
            {% endif %}
        </div>

        <form method="POST" action="" enctype="multipart/form-data">
        {{  form.hidden_tag() }}
        <fieldset class= "form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {% if form.username.errors %}
                    {{ form.username(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture.label() }}
                {{ form.picture(class="form-control-file") }}
                {% if form.picture.errors %}
                    {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>
{% endblock content %}